@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@theme {
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}



body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


/* Base Theme Variables */
@layer base {
  :root {
    --background: hsl(0, 0%, 99%);
    --foreground: 200 15% 8%;
    --element: hsl(0, 0%, 100%);
  }

  .dark {
    --background: hsl(207, 26%, 17%);
    --foreground: 0 0% 100%;
    --element: hsl(209, 23%, 22%);
  }

  body {
    background-color: var(--background);
    color: hsl(var(--foreground));
    transition: background-color 0.3s, color 0.3s;
    
  }

  .card {
    background-color: var(--element);
    color: hsl(var(--foreground));
    transition: background-color 0.3s, color 0.3s;
  }
}
